.mayad { 
    width: 100%;
    height: 94vh;
    background-image: url('../images1/home.jpg');
    background-size: cover;
    background-position: center;    
    filter: brightness(45%);
position: relative;
} 
#name{
    background-color: rgb(192, 240, 255);
}